.recaptcha_isnot_showing_audio #u1582.mode-image
{
	background: transparent url("../images/recaptchamodeaudio.png") no-repeat center center;
	background-size: contain;
}

.recaptcha_is_showing_audio #u1582.mode-audio
{
	background: transparent url("../images/recaptchamodeimage.png") no-repeat center center;
	background-size: contain;
}

.recaptcha_isnot_showing_audio #u1582.mode-image:hover
{
	margin: 28px -10000px 0px 0px;
	background: transparent url("../images/recaptchamodeaudiorollover.jpg") no-repeat center center;
	background-size: contain;
}

.recaptcha_is_showing_audio #u1582.mode-audio:hover
{
	margin: 28px -10000px 0px 0px;
	background: transparent url("../images/recaptchamodeimagerollover.jpg") no-repeat center center;
	background-size: contain;
}

.recaptcha_is_showing_audio #u1582.mode-audio:active
{
	margin: 28px -10000px 0px 0px;
	background: transparent url("../images/recaptchamodeimagemousedown.jpg") no-repeat center center;
	background-size: contain;
}

.recaptcha_isnot_showing_audio #u1582.mode-image:active
{
	margin: 28px -10000px 0px 0px;
	background: transparent url("../images/recaptchamodeaudiomousedown.jpg") no-repeat center center;
	background-size: contain;
}

.version.index /* version checker */
{
	color: #000009;
	background-color: #DC7F7F;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 3898px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -2px;
}

#pu1769
{
	width: 0.01px;
	margin-left: -100px;
}

#u1769
{
	z-index: 187;
	border-color: #000000;
	padding-bottom: 231px;
	background: #7F9AE8 url("../images/dot-u1769-fr.png") repeat left top;
	background-color: rgba(0, 53, 209, 0.5);
}

#u1776-15
{
	z-index: 188;
	width: 868px;
	min-height: 413px;
	background-color: transparent;
	line-height: 63px;
	font-size: 42px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: 232px;
}

#u1776-2,#u1776-4,#u1776-6,#u1776-8,#u1776-10
{
	color: #FFFFFF;
}

#u1776-12
{
	color: #000000;
}

#u1769-bw
{
	z-index: 187;
	height: 676px;
}

#pu1775
{
	width: 0.01px;
	padding-bottom: 3899px;
	margin-left: -100px;
	margin-top: -907px;
}

#u1775
{
	z-index: 252;
	width: 210px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 3899px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u1343
{
	z-index: 253;
	width: 210px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 3899px;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #262626 url("../images/dot.png") no-repeat left top;
}

#u1342
{
	z-index: 254;
	width: 0px;
	border-color: #000000;
	background-color: #1E3D81;
	padding-right: 210px;
	padding-bottom: 208px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u1344
{
	z-index: 255;
	width: 115px;
	background-color: #FFFFFF;
	position: fixed;
	top: 15px;
	left: 48px;
}

#u1341-4
{
	z-index: 257;
	width: 184px;
	min-height: 37px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 35px;
	font-size: 29px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 147px;
	left: 12px;
}

#menuu1305
{
	z-index: 261;
	width: 210px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 208px;
	left: 0px;
}

#u1313
{
	width: 210px;
	background-color: transparent;
	position: relative;
}

#u1314
{
	width: 210px;
	min-height: 19px;
	border-style: solid;
	border-color: #333333;
	background-color: transparent;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u1314:hover
{
	background-color: #999999;
	width: 210px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1314:active
{
	background-color: #6B6B6B;
	width: 210px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1317-4
{
	width: 210px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u1314:hover #u1317-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1314:active #u1317-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1330
{
	width: 210px;
	min-height: 19px;
	border-style: solid;
	border-color: #333333;
	background-color: transparent;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u1314.MuseMenuActive,#u1330:hover
{
	background-color: #999999;
	width: 210px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1330:active
{
	background-color: #6B6B6B;
	width: 210px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1331-4
{
	width: 210px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u1314.MuseMenuActive #u1317-4,#u1330:hover #u1331-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1330:active #u1331-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1321
{
	width: 210px;
	min-height: 19px;
	border-style: solid;
	border-color: #333333;
	background-color: transparent;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u1330.MuseMenuActive,#u1321:hover
{
	background-color: #999999;
	width: 210px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1321:active
{
	background-color: #6B6B6B;
	width: 210px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1322-4
{
	width: 210px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u1330.MuseMenuActive #u1331-4,#u1321:hover #u1322-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1321:active #u1322-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1353
{
	width: 210px;
	min-height: 19px;
	border-style: solid;
	border-color: #333333;
	background-color: transparent;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u1321.MuseMenuActive,#u1353:hover
{
	background-color: #999999;
	width: 210px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1353:active
{
	background-color: #6B6B6B;
	width: 210px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1354-4
{
	width: 210px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u1321.MuseMenuActive #u1322-4,#u1353:hover #u1354-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1353:active #u1354-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1307
{
	width: 210px;
	min-height: 19px;
	border-style: solid;
	border-color: #333333;
	background-color: transparent;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u1353.MuseMenuActive,#u1307:hover
{
	background-color: #999999;
	width: 210px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1307:active
{
	background-color: #6B6B6B;
	width: 210px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1309-4
{
	width: 210px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u1353.MuseMenuActive #u1354-4,#u1307:hover #u1309-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1307:active #u1309-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1335
{
	width: 210px;
	min-height: 19px;
	border-style: solid;
	border-color: #333333;
	background-color: transparent;
	padding-bottom: 31px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u1307.MuseMenuActive,#u1335:hover
{
	background-color: #999999;
	width: 210px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1335:active
{
	background-color: #6B6B6B;
	width: 210px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1338-4
{
	width: 210px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u1307.MuseMenuActive #u1309-4,#u1335:hover #u1338-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1335:active #u1338-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1327,#u1320,#u1350,#u1306,#u1334,#u1986
{
	width: 210px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u1989
{
	width: 210px;
	min-height: 19px;
	border-style: solid;
	border-color: #333333;
	background-color: transparent;
	padding-bottom: 31px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u1335.MuseMenuActive,#u1989:hover
{
	background-color: #999999;
	width: 210px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1989:active
{
	background-color: #6B6B6B;
	width: 210px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1989.MuseMenuActive
{
	background-color: #999999;
	width: 210px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1990-5
{
	width: 210px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u1335.MuseMenuActive #u1338-4,#u1989:hover #u1990-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1989:active #u1990-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1989.MuseMenuActive #u1990-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1317-2,#u1331-2,#u1322-2,#u1354-2,#u1309-2,#u1338-2,#u1990-3
{
	padding-left: 25px;
}

#u1474
{
	z-index: 305;
	width: 105px;
	background-color: transparent;
	position: fixed;
	top: 19px;
	left: 53px;
}

#u1505
{
	z-index: 246;
	width: 351px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 0px;
	right: 0px;
}

#pu1029
{
	z-index: 247;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1029
{
	z-index: 0;
	width: 351px;
	border-color: #000000;
	opacity: 0.96;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=96)";
	filter: alpha(opacity=96);
	position: absolute;
	top: 0px;
	bottom: 0px;
	background: #7F7F7F url("../images/dot-u1769-fr.png") repeat left top;
	background-color: rgba(0, 0, 0, 0.5);
}

.js #u1029.ose_pre_init
{
	opacity: 0.57;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56.99999999999999)";
	filter: alpha(opacity=56.99999999999999);
}

#pu860
{
	width: 0.01px;
	position: relative;
	left: 30px;
	padding-top: 33px;
	z-index: 2;
	padding-bottom: 35px;
}

#u860
{
	z-index: 250;
	width: 58px;
	height: 56px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: transparent url("../images/youtube.png") no-repeat center center;
}

#u857
{
	z-index: 249;
	width: 58px;
	height: 56px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 76px;
	background: transparent url("../images/facebook.png") no-repeat center center;
}

#u855
{
	z-index: 248;
	width: 58px;
	height: 56px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 153px;
	background: transparent url("../images/twitter.png") no-repeat center center;
}

#u875
{
	z-index: 251;
	width: 58px;
	height: 56px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 230px;
	background: transparent url("../images/pinterest.png") no-repeat center center;
}

#u860:hover,#u857:hover,#u855:hover,#u875:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 58px;
	height: 56px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

.js #u860.ose_pre_init,.js #u857.ose_pre_init,.js #u855.ose_pre_init,.js #u875.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#pu1276
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2992px;
}

#u1276
{
	z-index: 145;
	border-color: #000000;
	padding-bottom: 512px;
	background: #7FC8A2 url("../images/dot-u1769-fr.png") repeat left top;
	background-color: rgba(0, 146, 69, 0.5);
}

#u1278-4
{
	z-index: 146;
	width: 430px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: 3px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 450px;
}

#u1279
{
	z-index: 150;
	width: 220px;
	height: 2px;
	border-color: #000000;
	background-color: #F2F2F2;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 880px;
}

#u1276-bw
{
	z-index: 145;
	height: 85px;
}

#u1280
{
	z-index: 151;
	width: 220px;
	height: 2px;
	border-color: #000000;
	background-color: #F2F2F2;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 230px;
}

#u1462-3
{
	z-index: 184;
	width: 2px;
	min-height: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 1464px;
}

#pu1282
{
	width: 0.01px;
	padding-bottom: 379px;
	margin-left: 130px;
	margin-top: -2855px;
}

#u1282
{
	z-index: 152;
	width: 425px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1043px;
	left: 130px;
}

#u1286
{
	z-index: 153;
	width: 395px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 15px 15px 21px;
}

#u1286:hover
{
	background-color: #FFFFFF;
	margin: 0px -10000px 0px 0px;
}

#u1283
{
	z-index: 167;
	width: 395px;
	height: 130px;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../images/bear.gif") no-repeat center center;
	background-size: cover;
}

#u1287-4
{
	z-index: 154;
	width: 395px;
	min-height: 28px;
	background-color: transparent;
	line-height: 22px;
	margin-top: 17px;
	position: relative;
}

#u1284
{
	z-index: 166;
	width: 387px;
	height: 1px;
	border-color: #000000;
	background-color: #CCCCCC;
	margin-left: 8px;
	margin-top: 13px;
	position: relative;
}

#u1285-4
{
	z-index: 158;
	width: 386px;
	min-height: 90px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	font-size: 14px;
	margin-left: 9px;
	margin-top: 14px;
	position: relative;
}

#u1288-4
{
	z-index: 162;
	width: 163px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	line-height: 14px;
	margin-left: 124px;
	margin-top: 14px;
	position: relative;
}

#u1289
{
	z-index: 168;
	width: 425px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1043px;
	left: 575px;
}

#u1290
{
	z-index: 169;
	width: 395px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 15px 15px 21px;
}

#u1292
{
	z-index: 183;
	width: 395px;
	height: 130px;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../images/windsorcahp-u1292-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1294-4
{
	z-index: 170;
	width: 395px;
	min-height: 28px;
	background-color: transparent;
	line-height: 22px;
	margin-top: 17px;
	position: relative;
}

#u1293
{
	z-index: 182;
	width: 387px;
	height: 1px;
	border-color: #000000;
	background-color: #CCCCCC;
	margin-left: 8px;
	margin-top: 13px;
	position: relative;
}

#u1284:hover,#u1293:hover
{
	background-color: #FFFFFF;
	margin: 13px 0px 0px 8px;
}

#u1295-4
{
	z-index: 174;
	width: 386px;
	min-height: 90px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	font-size: 14px;
	margin-left: 9px;
	margin-top: 14px;
	position: relative;
}

#u1291-4
{
	z-index: 178;
	width: 163px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	line-height: 14px;
	margin-left: 124px;
	margin-top: 14px;
	position: relative;
}

#u1288-4:hover,#u1291-4:hover
{
	background-color: #7F7F7F;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 14px 0px 0px 124px;
}

#pu1886-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2396px;
}

#u1886-3
{
	z-index: 129;
	min-height: 636px;
	border-style: none;
	border-color: transparent;
	background: #7FB8DD url("../images/dot-u1769-fr.png") repeat left top;
	background-color: rgba(0, 113, 188, 0.5);
}

#u1886-3-bw
{
	z-index: 129;
	min-height: 636px;
	margin-top: 1px;
	height: 636px;
}

#u1215-4
{
	z-index: 132;
	width: 430px;
	min-height: 44px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: 3px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 450px;
}

#u1216
{
	z-index: 136;
	width: 220px;
	height: 2px;
	border-color: #000000;
	background-color: #F2F2F2;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 880px;
}

#u1217
{
	z-index: 137;
	width: 220px;
	height: 2px;
	border-color: #000000;
	background-color: #F2F2F2;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 230px;
}

#u1920
{
	z-index: 138;
	width: 471px;
	height: 2px;
	border-color: #000000;
	background-color: #F2F2F2;
	-webkit-transform: matrix(0,-1,1,0,235,237);
	-ms-transform: matrix(0,-1,1,0,235,237);
	-o-transform: matrix(0,-1,1,0,235,237);
	transform: matrix(0,-1,1,0,235,237);
	position: relative;
	margin-right: -10000px;
	margin-top: 359px;
	left: 430px;
}

#workexperience
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 208px;
}

#pu1965
{
	width: 0.01px;
	padding-bottom: 472px;
	margin-left: 130px;
	margin-top: -2272px;
}

#u1965
{
	z-index: 203;
	width: 426px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1627px;
	left: 130px;
}

#u1947
{
	z-index: 204;
	width: 426px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1948
{
	z-index: 205;
	width: 396px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 15px 15px 154.49637296020842px;
}

#u1951-4
{
	z-index: 206;
	width: 396px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
}

#u1949-12
{
	z-index: 210;
	width: 396px;
	min-height: 232px;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u1949-2,#u1949-4,#u1949-6,#u1949-8
{
	text-align: left;
}

#u1949-10
{
	font-size: 14px;
	line-height: 22px;
	color: #000000;
}

#u1950
{
	z-index: 222;
	width: 388px;
	height: 1px;
	border-color: #000000;
	background-color: #CCCCCC;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 19px;
}

#u1950:hover
{
	background-color: #FFFFFF;
	margin: 42px -10000px 0px 0px;
}

#u1959
{
	z-index: 223;
	width: 396px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 15px;
}

#u1978
{
	z-index: 225;
	width: 426px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1627px;
	left: 574px;
}

#u1932
{
	z-index: 226;
	width: 426px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1938
{
	z-index: 227;
	width: 396px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 14px 15px 179.18308290130602px;
}

#u1933-4
{
	z-index: 228;
	width: 396px;
	min-height: 33px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
}

#u1934-11
{
	z-index: 232;
	width: 396px;
	min-height: 242px;
	background-color: transparent;
	text-align: left;
	margin-top: 4px;
	position: relative;
}

#u1937
{
	z-index: 243;
	width: 388px;
	height: 1px;
	border-color: #000000;
	background-color: #CCCCCC;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 19px;
}

#u1937:hover
{
	background-color: #FFFFFF;
	margin: 40px -10000px 0px 0px;
}

#u1972
{
	z-index: 244;
	width: 394px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 302px;
	left: 16px;
}

#pu1997
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1760px;
}

#u1997
{
	z-index: 95;
	border-color: #000000;
	padding-bottom: 0px;
	background: #C29A7F url("../images/dot-u1769-fr.png") repeat left top;
	background-color: rgba(134, 53, 0, 0.5);
}

#u1997_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
	left: -100px;
	padding-top: 17px;
	padding-bottom: 55px;
}

#pu2037-4
{
	width: 0.01px;
	left: 450px;
	position: relative;
}

#u2037-4
{
	z-index: 139;
	width: 430px;
	min-height: 44px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: 3px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2038
{
	z-index: 143;
	width: 220px;
	height: 2px;
	border-color: #000000;
	background-color: #F2F2F2;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 430px;
}

#tab-panelu1998
{
	z-index: 96;
	width: 795px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 267px;
	margin-top: 28px;
	position: relative;
}

#u2012
{
	z-index: 97;
	width: 795px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2013
{
	z-index: 98;
	width: 158px;
	min-height: 25px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u2013:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 158px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u2013.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 158px;
	min-height: 26px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u2015-4
{
	z-index: 99;
	width: 158px;
	min-height: 25px;
	border-color: #999999;
	background-color: transparent;
	line-height: 25px;
	position: relative;
	margin-right: -10000px;
}

#u2013:hover #u2015-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u2013.TabbedPanelsTabSelected #u2015-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 18px;
	font-family: days-one, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u2017
{
	z-index: 103;
	width: 158px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	position: relative;
	margin-right: -10000px;
	left: 158px;
}

#u2017:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 158px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u2020-4
{
	z-index: 104;
	width: 158px;
	min-height: 25px;
	border-color: #999999;
	background-color: transparent;
	color: #000000;
	line-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
}

#u2017:hover #u2020-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u2040
{
	z-index: 108;
	width: 158px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	position: relative;
	margin-right: -10000px;
	left: 317px;
}

#u2040:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 158px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u2043-4
{
	z-index: 109;
	width: 158px;
	min-height: 25px;
	border-color: #999999;
	background-color: transparent;
	color: #000000;
	line-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
}

#u2040:hover #u2043-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u2045
{
	z-index: 113;
	width: 158px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	position: relative;
	margin-right: -10000px;
	left: 476px;
}

#u2045:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 158px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u2048-4
{
	z-index: 114;
	width: 158px;
	min-height: 25px;
	border-color: #999999;
	background-color: transparent;
	color: #000000;
	line-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
}

#u2045:hover #u2048-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u2050
{
	z-index: 118;
	width: 158px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	position: relative;
	margin-right: -10000px;
	left: 635px;
}

#u2050:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 158px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u2017.TabbedPanelsTabSelected,#u2040.TabbedPanelsTabSelected,#u2045.TabbedPanelsTabSelected,#u2050.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 158px;
	min-height: 26px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u2051-4
{
	z-index: 119;
	width: 158px;
	min-height: 25px;
	border-color: #999999;
	background-color: transparent;
	color: #000000;
	line-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
}

#u2050:hover #u2051-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u2013.TabbedPanelsTabSelected #u2015-4,#u2017.TabbedPanelsTabSelected #u2020-4,#u2040.TabbedPanelsTabSelected #u2043-4,#u2045.TabbedPanelsTabSelected #u2048-4,#u2050.TabbedPanelsTabSelected #u2051-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u2017.TabbedPanelsTabSelected #u2020-4 p,#u2040.TabbedPanelsTabSelected #u2043-4 p,#u2045.TabbedPanelsTabSelected #u2048-4 p,#u2050.TabbedPanelsTabSelected #u2051-4 p
{
	color: #000000;
	visibility: inherit;
	font-family: days-one, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u1999
{
	z-index: 123;
	width: 795px;
	background-color: transparent;
	position: relative;
}

#u2000
{
	z-index: 124;
	width: 793px;
	height: 416px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u2008
{
	z-index: 125;
	width: 793px;
	height: 416px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u2044
{
	z-index: 126;
	width: 793px;
	height: 416px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u2049
{
	z-index: 127;
	width: 793px;
	height: 416px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u2054
{
	z-index: 128;
	width: 793px;
	height: 416px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

.MenuItem,.TabbedPanelsTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u1997-bw
{
	z-index: 95;
	margin-top: 1px;
	height: 588px;
}

#u2039
{
	z-index: 144;
	width: 220px;
	height: 2px;
	border-color: #000000;
	background-color: #F2F2F2;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 230px;
}

#pu1133
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1172px;
}

#u1133
{
	z-index: 88;
	border-color: #000000;
	padding-bottom: 481px;
	background: #B296C8 url("../images/dot-u1769-fr.png") repeat left top;
	background-color: rgba(102, 45, 145, 0.5);
}

#u1136
{
	z-index: 94;
	width: 220px;
	height: 2px;
	border-color: #000000;
	background-color: #F2F2F2;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 230px;
}

#u1134-4
{
	z-index: 89;
	width: 332px;
	min-height: 38px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: 3px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 499px;
}

#u1135
{
	z-index: 93;
	width: 220px;
	height: 2px;
	border-color: #000000;
	background-color: #F2F2F2;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 880px;
}

#u1133-bw
{
	z-index: 88;
	margin-top: 1px;
	height: 87px;
}

#welcome,#education,#extracurriculars,#skills
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 210px;
}

#contact
{
	margin-left: 110px;
	top: -605px;
	margin-bottom: -18px;
	position: relative;
}

#pu749
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -603px;
}

#u749
{
	z-index: 2;
	border-color: #000000;
	padding-bottom: 536px;
	background: #FBC98E url("../images/dot-u1769-fr.png") repeat left top;
	background-color: rgba(247, 147, 30, 0.5);
}

#u1769_align_to_page,#u1276_align_to_page,#u1133_align_to_page,#u749_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
	left: -100px;
}

#u750
{
	z-index: 8;
	width: 220px;
	height: 2px;
	border-color: #000000;
	background-color: #F2F2F2;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 230px;
}

#u752-4
{
	z-index: 3;
	width: 332px;
	min-height: 38px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: 3px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 499px;
}

#u751
{
	z-index: 7;
	width: 220px;
	height: 2px;
	border-color: #000000;
	background-color: #F2F2F2;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 880px;
}

#u749-bw
{
	z-index: 2;
	height: 69px;
}

#widgetu753
{
	z-index: 9;
	width: 0.01px;
	height: 492px;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 230px;
}

#widgetu764
{
	z-index: 10;
	width: 269px;
	height: 70px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u766-4
{
	z-index: 11;
	width: 265px;
	min-height: 30px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	line-height: 26px;
	letter-spacing: 0px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	border-width: 2px 2px 0px;
}

#u767-4
{
	z-index: 15;
	width: 257px;
	min-height: 28px;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	padding: 6px;
	color: #C4C4C4;
	line-height: 26px;
	font-size: 13px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

.html,#widgetu764.non-empty-st #u767-4
{
	background-color: #FFFFFF;
}

#widgetu764:hover #u767-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 30px -10000px 0px 0px;
}

#widgetu764.focus-st #u767-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 30px -10000px 0px 0px;
}

#widgetu764.non-empty-st #u767-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu764:hover #u767-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu764.focus-st #u767-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu768
{
	z-index: 19;
	width: 269px;
	height: 70px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 301px;
}

#widgetu764.fld-err-st,#widgetu768.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 1px -10000px 0px 0px;
}

#u769-4
{
	z-index: 20;
	width: 265px;
	min-height: 30px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #000000;
	line-height: 26px;
	font-size: 12px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	border-width: 2px 2px 0px;
}

#u770-4
{
	z-index: 24;
	width: 257px;
	min-height: 28px;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	padding: 6px;
	color: #C4C4C4;
	line-height: 26px;
	font-size: 13px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#widgetu768.non-empty-st #u770-4
{
	background-color: #FFFFFF;
}

#widgetu768:hover #u770-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 30px -10000px 0px 0px;
}

#widgetu768.focus-st #u770-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 30px -10000px 0px 0px;
}

#widgetu768.non-empty-st #u770-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu768:hover #u770-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu768.focus-st #u770-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u772-4
{
	z-index: 28;
	width: 308px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 433px;
	left: 281px;
}

#widgetu753.frm-sub-st #u772-4 p
{
	color: #000000;
	text-align: center;
	line-height: 1;
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
}

#u754-4
{
	z-index: 32;
	width: 308px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 433px;
	left: 281px;
}

#widgetu753.frm-subm-err-st #u754-4 p
{
	color: #D7244C;
	text-align: center;
	line-height: 1;
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
}

#u759-4
{
	z-index: 36;
	width: 308px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 433px;
	left: 281px;
}

#widgetu753.frm-sub-st #u772-4,#widgetu753.frm-subm-err-st #u754-4,#widgetu753.frm-subm-ok-st #u759-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu753.frm-subm-ok-st #u759-4 p
{
	color: #39B54A;
	text-align: center;
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
}

#u773-17
{
	z-index: 40;
	min-height: 61px;
	width: 303px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 433px;
	left: 288px;
	background: url("../images/u773-17.png") no-repeat 0px 0px;
}

#u773-17:hover
{
	background: url("../images/u773-17-r.png") no-repeat 0px 0px;
}

#u773-17:active
{
	background: url("../images/u773-17-m.png") no-repeat 0px 0px;
}

#widgetu753.frm-sub-st #u773-17
{
	background: url("../images/u773-17-fs.png") no-repeat 0px 0px;
}

#widgetu755
{
	z-index: 57;
	width: 870px;
	height: 181px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
}

#widgetu755.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 98px -10000px 0px 0px;
}

#u756-4
{
	z-index: 58;
	width: 866px;
	min-height: 30px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #000000;
	line-height: 26px;
	font-size: 12px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	border-width: 2px 2px 0px;
}

#widgetu755.fld-err-st #u756-4
{
	border-style: solid;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 868px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u757-4
{
	z-index: 62;
	width: 858px;
	min-height: 137px;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	padding: 6px;
	color: #C4C4C4;
	line-height: 26px;
	font-size: 13px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
}

#widgetu755.non-empty-st #u757-4
{
	background-color: #FFFFFF;
}

#widgetu755:hover #u757-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 137px;
	margin: 32px -10000px 0px 0px;
}

#widgetu755.focus-st #u757-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 137px;
	margin: 32px -10000px 0px 0px;
}

#widgetu755.fld-err-st #u757-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 137px;
	margin: 32px -10000px 0px 0px;
}

#widgetu755.non-empty-st #u757-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu755:hover #u757-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu755.focus-st #u757-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu755_input,#widgetu755_prompt
{
	width: 858px;
	min-height: 137px;
	color: #C4C4C4;
	text-align: center;
	font-family: days-one, sans-serif;
	font-size: 13px;
	font-weight: 400;
	padding: 6px;
}

#widgetu760
{
	z-index: 66;
	width: 269px;
	height: 70px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 601px;
}

#widgetu760.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u763-4
{
	z-index: 67;
	width: 265px;
	min-height: 30px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #000000;
	line-height: 26px;
	font-size: 12px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	border-width: 2px 2px 0px;
}

#u761-4
{
	z-index: 71;
	width: 257px;
	min-height: 28px;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	padding: 6px;
	color: #C4C4C4;
	line-height: 26px;
	font-size: 13px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#widgetu760.non-empty-st #u761-4
{
	background-color: #FFFFFF;
}

#widgetu760:hover #u761-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 30px -10000px 0px 0px;
}

#widgetu760.focus-st #u761-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 30px -10000px 0px 0px;
}

#widgetu764.fld-err-st #u767-4,#widgetu768.fld-err-st #u770-4,#widgetu760.fld-err-st #u761-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 30px -10000px 0px 0px;
}

#widgetu760.non-empty-st #u761-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu760:hover #u761-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu760.focus-st #u761-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1577
{
	z-index: 75;
	width: 321px;
	height: 133px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 289px;
	left: 288px;
}

#widgetu1577.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 289px -10000px 0px 0px;
}

#u1580-4
{
	z-index: 76;
	width: 265px;
	min-height: 30px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	line-height: 26px;
	letter-spacing: 0px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 13px;
	border-width: 2px 2px 0px;
}

#widgetu764.fld-err-st #u766-4,#widgetu768.fld-err-st #u769-4,#widgetu760.fld-err-st #u763-4,#widgetu1577.fld-err-st #u1580-4
{
	border-style: solid;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 267px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#widgetu764.fld-err-st #u766-4 p,#widgetu764.fld-err-st #u766-4 span,#widgetu768.fld-err-st #u769-4 p,#widgetu768.fld-err-st #u769-4 span,#widgetu755.fld-err-st #u756-4 p,#widgetu755.fld-err-st #u756-4 span,#widgetu760.fld-err-st #u763-4 p,#widgetu760.fld-err-st #u763-4 span,#widgetu1577.fld-err-st #u1580-4 p,#widgetu1577.fld-err-st #u1580-4 span
{
	color: #D7244C;
}

#u1579-4
{
	z-index: 80;
	width: 257px;
	min-height: 28px;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	padding: 6px;
	color: #C4C4C4;
	line-height: 26px;
	font-size: 13px;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 13px;
}

#widgetu1577.non-empty-st #u1579-4
{
	background-color: #FFFFFF;
}

#widgetu1577:hover #u1579-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 93px -10000px 0px 0px;
}

#widgetu1577.focus-st #u1579-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 93px -10000px 0px 0px;
}

#widgetu1577.fld-err-st #u1579-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 93px -10000px 0px 0px;
}

#widgetu1577.non-empty-st #u1579-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1577:hover #u1579-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1577.focus-st #u1579-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu764.fld-err-st #u767-4 *,#widgetu768.fld-err-st #u770-4 *,#widgetu755.fld-err-st #u757-4 *,#widgetu760.fld-err-st #u761-4 *,#widgetu1577.fld-err-st #u1579-4 *
{
	color: #D7244C;
	font-style: normal;
}

#u1582
{
	z-index: 84;
	width: 18px;
	height: 18px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 303px;
}

#u1613
{
	z-index: 85;
	width: 18px;
	height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 303px;
	background: transparent url("../images/recaptcharefresh.png") no-repeat center center;
	background-size: contain;
}

#u1613:hover
{
	margin: 46px -10000px 0px 0px;
	background: transparent url("../images/recaptcharefreshrollover.jpg") no-repeat center center;
	background-size: contain;
}

#u1613:active
{
	margin: 46px -10000px 0px 0px;
	background: transparent url("../images/recaptcharefreshmousedown.jpg") no-repeat center center;
	background-size: contain;
}

#u1629
{
	z-index: 86;
	width: 18px;
	height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 303px;
	background: transparent url("../images/recaptchahelp.png") no-repeat center center;
	background-size: contain;
}

#u1629:hover
{
	margin: 64px -10000px 0px 0px;
	background: transparent url("../images/recaptchahelprollover.jpg") no-repeat center center;
	background-size: contain;
}

#u1629:active
{
	margin: 64px -10000px 0px 0px;
	background: transparent url("../images/recaptchahelpmousedown.jpg") no-repeat center center;
	background-size: contain;
}

#recaptcha_image
{
	position: relative;
	width: 301px;
	margin-right: -10000px;
	margin-top: 32px;
}

#widgetu764_input,#widgetu764_prompt,#widgetu768_input,#widgetu768_prompt,#widgetu760_input,#widgetu760_prompt,#recaptcha_response_field,#widgetu1577_prompt
{
	width: 257px;
	min-height: 28px;
	color: #C4C4C4;
	text-align: center;
	font-family: days-one, sans-serif;
	font-size: 13px;
	font-weight: 400;
	padding: 6px;
}

#widgetu764.focus-st #widgetu764_prompt,#widgetu768.focus-st #widgetu768_prompt,#widgetu755.focus-st #widgetu755_prompt,#widgetu760.focus-st #widgetu760_prompt,#widgetu1577.focus-st #widgetu1577_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu764:hover #widgetu764_input,#widgetu764.focus-st #widgetu764_input,#widgetu764.fld-err-st #widgetu764_input,#widgetu764:hover #widgetu764_prompt,#widgetu764.fld-err-st #widgetu764_prompt,#widgetu768:hover #widgetu768_input,#widgetu768.focus-st #widgetu768_input,#widgetu768.fld-err-st #widgetu768_input,#widgetu768:hover #widgetu768_prompt,#widgetu768.fld-err-st #widgetu768_prompt,#widgetu755:hover #widgetu755_input,#widgetu755.focus-st #widgetu755_input,#widgetu755.fld-err-st #widgetu755_input,#widgetu755:hover #widgetu755_prompt,#widgetu755.fld-err-st #widgetu755_prompt,#widgetu760:hover #widgetu760_input,#widgetu760.focus-st #widgetu760_input,#widgetu760.fld-err-st #widgetu760_input,#widgetu760:hover #widgetu760_prompt,#widgetu760.fld-err-st #widgetu760_prompt,#widgetu1577:hover #recaptcha_response_field,#widgetu1577.focus-st #recaptcha_response_field,#widgetu1577.fld-err-st #recaptcha_response_field,#widgetu1577:hover #widgetu1577_prompt,#widgetu1577.fld-err-st #widgetu1577_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu764.non-empty-st #widgetu764_prompt,#widgetu768.non-empty-st #widgetu768_prompt,#widgetu755.non-empty-st #widgetu755_prompt,#widgetu760.non-empty-st #widgetu760_prompt,#widgetu1577.non-empty-st #widgetu1577_prompt
{
	visibility: hidden;
}

body
{
	position: relative;
	min-width: 1000px;
}

#page .verticalspacer
{
	clear: both;
}

